@import 'var';

//高亮
.active{
		background:#fff;
		color:#de1d0e!important;
		border-radius: 15px;
		box-shadow: inset rgba(0,0,0,.6) 0px 1px 2px;

}

.content{
	position:relative;
	width:$width;
	margin:0 auto;
	.houzi{
		position: absolute;
		right:48px;
		top:-15px;
		width:110px;
		height:160px;
		background:url('./img/logo.png') no-repeat 0 -190px;
	}
	.imgbox{
		margin-top:20px;
		a{
			height:75px;
			
			display: block;
			img{
				border:0;
				
			}
			
		}
		
	}
	ol{
		margin:0 auto;
		background: url(./img/process.png) 0 0 no-repeat;
   		width: 980px;
   		height:42px;
   		li{
   			color:#fff;
   			list-style:none;
   			width:325px;
   			text-align:center;
		    height: 42px;
		    line-height: 42px;
   			float:left;
   		}
	}
	.resigterbox{
		padding-top: 30px;
		margin:0 auto;
		width:500px;
		height:439px;
		a{
			font-size:14px;
			color:#468847;
			margin-bottom: 10px;
			display: block;
			text-align:right;
			margin:0 auto;
			width: 300px;
			margin-bottom:10px;
		}
		form{
			overflow: hidden;
			font-size:14px;
			width:500px;
			height:408px;
			.namebox{
				margin-bottom:20px;
				width:500px;
				height:61px;
				label{
					line-height:30px;
					float:left;
					width:160px;
					height:25px;
					text-align:right;
				}
				div{
					float:right;
					width:320px;
					height:61px;
					input{
						padding: 4px 6px;
						width:206px;
						height:20px;
						border:1px solid #cccccc;
						box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
						border-radius: 4px;
						margin-bottom:10px;
					}

				}
			}

			.pasbox{
				@extend .namebox;
			}
			.btnbox{
				text-align: center;
				margin-left:60px;
				label{
					span{
						color:#933;
					}
				}
			}

			#btn{
				display: block;
			    width: 255px;
			    height: 40px;
			    background:#fd3343;;
			    text-align: center;
			    line-height:40px;
			    font-size:16px;
			    color:#fff;
			    margin-top:20px;
			}
		}
	}
}