body, ul, h2, p, h6, h5, ol, h3, dl, dt { margin: 0; padding: 0; }

a { text-decoration: none; }

ul li { list-style: none; }

.footbox { clear: both; height: 318px; border-top: 5px solid #cc3333; background: #eee; }

.footbox .foot { padding-top: 10px; width: 1100px; margin: 0 auto; display: flex; }

.footbox .foot .one { text-align: center; width: 230px; height: 185px; border-right: 1px solid #a9a9a9; height: 185px; }

.footbox .foot .one h5 { font-size: 18px; font-weight: normal; margin: 10px 0; line-height: 20px; color: inherit; }

.footbox .foot .one em { display: block; width: 98px; height: 98px; margin-left: 66px; background: url("./img/dcode.jpg") no-repeat; }

.footbox .foot .one p { font-size: 14px; margin-top: 10px; }

.footbox .foot .two { width: 545px; height: 185px; border-right: 1px solid #a9a9a9; }

.footbox .foot .two ul { margin: 0 0 10px 25px; }

.footbox .foot .two ul li { margin-left: 50px; float: left; }

.footbox .foot .two ul li h6 { font-size: 14px; margin: 10px 0; font-family: inherit; font-weight: bold; line-height: 20px; color: inherit; }

.footbox .foot .two ul li p { margin: 0 0 10px; }

.footbox .foot .two ul li p a { line-height: 20px; font-size: 14px; color: #333; }

.footbox .foot .two ul li p a:hover { color: #e92323; text-decoration: underline; }

.footbox .foot .three { width: 210px; height: 185px; }

.footbox .foot .three i { margin-left: 40px; width: 184px; height: 135px; background: url("./img/phone.jpg") no-repeat; display: block; }

.footbox .imgbox { width: 1100px; margin: 0 auto; display: flex; justify-content: center; }

.footbox .imgbox i { display: block; width: 114px; height: 56px; background: url("./img/logo_footer.gif") no-repeat; }

.footbox p { font-size: 14px; line-height: 20px; color: #000; margin-top: 20px; text-align: center; margin-bottom: 10px; }
